body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    
    
}

.header{
    display: flex;    
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    padding: 0.5rem;
    border: 1px;
    height: auto;
}

.logo{
    font-size: 24px;
    font-weight: 800;
    color: white;
}
a{
    text-decoration: none;
    color: lightgray;
    margin: 15px;
    font-size: 20px;
}

.content{
    display: flex;
    justify-content: space-around;    
    background-color: #1f2937;
    padding: 100px;
    gap: 3rem;

    
    
    
}
.pic-1{
    width: 500px;
    max-height: 350px;
}
.para{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
    
}
.head{
    max-width: 400px;
    flex-wrap: wrap;
    font-size: 20px;
    color: lightgray;
}
button{
    background-color: #3882f6;
    padding: 7px;
    margin: 10px;
    border-radius: 10px;
    font-size: 20px;
    width: 100px;
}
img{
    width: 250px;
    height: auto;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-top: 3rem;
    padding: 1rem;
    margin-bottom: 3rem;
}
.all-pics{
    display: flex;
    gap: 4rem;
}
.text{
    max-width: 250px;
    color: black;
    font-size: large;
}
.quote{
    display: flex ;
    background-color: #e5e7eb;
    flex-direction: column;
    padding: 6rem;
    align-items: center;
}
.text-2{
    font-size: 36px;
    max-width: 800px;
    color: #152937;
}
.author{
    align-self: flex-end ;
    margin-right: 500px;
    font-size: 25px;
    font-weight: 800;
}
.action{
    display: flex;
    margin: 10rem auto;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 4rem;
    color: white;
    justify-content: space-around;
    min-width: 800px;
    align-items: center;
}